extend layout


block content
  h2.line Load
  .row-fluid
    #load.span12.h150

  h2.line CPU
  .row-fluid
    #cpus.span12.h300

  h2.line
    | MEM - 
    span#totalmem
  .row-fluid
    #memUsage.span12.h150

  h2.line Sockets
  .row-fluid
    #sockets.span12.h150

  h2.line Apps
  #apps

  
  script#appTemplate(type="text/x-jquery-tmpl")
    .app
      h4.appName
      .row-fluid
        h5 CPU
        .cpu.span12.h150
        h5 Memory
        .mem.span12.h150
        h5 Sockets
        .socket.span12.h150
    
    

  script.
    var machine = "#{machine}";

  script(src='/javascripts/charts.js')
  script(src='/javascripts/machine.js')
